.caixa-reservado {
    background-color: #0D4C92;
    font-family: 'Inter', sans-serif;
}

article {
    display: flex;
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    gap: 10rem;
}
.cont-reservado h1 {
    font-size: 24pt;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.cont-cliente {
    display: flex;
    flex-direction: column; 
    color: #fff;
    font-size: 14pt; 
}

.cliente p {
    opacity: 60%;
    margin-left: 20px;
}

.resultHorario {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.resultHorario h2 {
    font-size: 15pt;
}


hr{
    width: 900px;
}

.check-in {
    margin-top: -20px;
    display: flex;
    gap: 3rem;
}

.check-out {
    margin-top: -20px;
    display: flex;
    gap: .5rem;
}

.check-out input {
    margin-top: 15px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 11pt;
}

.voltar-btn {
    width: 160px;
    padding: 7px;
    border-radius: 10px;
    font-size: 14pt;
    text-transform: capitalize;
    background-color: #429ED2;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.btn-volte {
    width: 800px;
    margin: auto;
}


.caixa-suite {
    background-color: #429ED2;
    /* padding: 50px; */
    width: 340px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 15px;
}

.caixa-suite p {
    text-align: center;
    font-size: 16pt;
    margin-top: -20px;
    color: #fff;
}

.img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 9px;
}

.aside {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #fff;
}


.aside h2 {
    margin-top: -2px;
    font-size: 17pt;
}


.aside i {
    font-size: 1.5rem;
}

.success{
    color: green;
    font-size: 1.5rem;
    margin-top: -10px;
}

.reserva-mm{
    text-align: center;
    width: 700px;
    margin: auto auto 20px;
    padding: 20px;
    font-size: 17pt;
    color: #429ED2;
    border: 2px solid ;
}

