.caixa-reservado {
    background-color: #0D4C92;
    font-family: 'Inter', sans-serif;
}

.cont-reservado h1 {
    font-size: 24pt;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.cont-cliente {
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
    font-size: 14pt;
}

.cliente p{
    opacity: 60%;
     margin-left: 20px;
}

.resultHorario {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin:10px auto;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.resultHorario h2 {
    font-size: 15pt;
}

.check-in {
    margin-top: -20px;
    display: flex;
    gap: 3rem;
}

.check-out {
    margin-top: -20px;
    display: flex;
    gap: .5rem;
}

.check-out input{
    margin-top: 15px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 11pt;
}

.voltar-btn{
    width: 160px;
    padding: 7px;
    border-radius: 10px;
    font-size: 14pt;
    text-transform: capitalize;
    background-color: #429ED2;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.btn-volte{
   width: 800px;
   margin: auto;
}